/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
$font-noto : 'Noto Sans KR',
sans-serif;

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$font-raleway : 'Raleway',
sans-serif;

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
$font-mont : 'Montserrat',
sans-serif;